*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}


.main-container{
    display: flex;
    height: 100vh;
    background-color: #F0F0F0;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.container{
    background-color: #ffff;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 90%;
    /* height: 100%; */
    border-radius: 12px;
    box-shadow: 0px 0px 25px rgba(0 , 0, 0, 0.05);
}

.top-container{
    display: flex;
    padding: 80px;
    align-items: center;
}

.top-container hr{
    height: 100px;
    margin: auto 0;
    background-color: darkslategrey;
    /* margin-inline: 20px; */
}

.top-container .college-text{
    margin-left: 15px;
    font-size: 24px;
    font-weight: 600;
}

.bottom-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
}



.bottom-container .loading-icon i{
    font-size: 40px;
    margin-bottom: 10px;
    color: #0e387a;
    animation: rotate 1.3s ease infinite forwards;
}

.watermark .imgconts {
    width: 4.5rem;
    /* margin-top: 5px;    */
    padding-bottom: 17px;
    padding-right: 10px;
    /* position: fixed; */
} 
.watermark {
    /* display: flex;
    gap: 2px;
    /* margin-top: 380px; */
    /* float: right;  */
 
    opacity: 0.4;
    display: flex;
    align-items: center;
    align-items: flex-end;
    /* justify-content: end; */
    /* justify-content: first baseline; */

    /* justify-content: last baseline; */
   /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: baseline; */
    justify-content: right;
    flex: 1;
    flex-direction: row;
    padding-right: 10px;
 
    
    /* margin-right: 50px; */
    }
    .para
    {
        /* position: fixed; */
        padding-bottom: 12px;
        font-size: 13px;
        /* padding-right: 20px; */
    }

      .image-container img {
    
        width: 6rem;
        margin-right: 23px;
        /* -o-object-fit: fill; */
        /* object-fit: fill; */
        }

/* Animation for rotation */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Media screen size for responsiveness */

/* Laptop */
@media (max-width:1290px) {
    .container{
        width: 70%;
    }

    .top-container{
        padding-block-end: 00px;
  
    }
    
}

/* Tablet */

@media (max-width:950px) {
    .container{
        /* width: 85%; */
        width: 85%;
        padding-block: 30px;
        margin: 0;
    }

    .top-container .college-text{
        font-size: 30px;
    }
}
.watermark 
{
    font-size: 100%;
}

/* Mobiles */

@media (max-width:520px) {
    .main-container{
        padding: 5px;
        padding-block: 00px;
        /* margin: 10px; */
        
        
    }
    .container{
        width: 100%;
        height: 95%;
        /* position: fixed; */
        bottom: 10%;
    }

    .top-container{
        padding: 10px;
        /* padding-block-start: 20px; */
        padding-bottom: 10px;
    }

    .top-container .image-container img{
        height: auto;
        width: 12vh;
    }

    .top-container .college-text{
        font-size: 15px;
        margin-left: 15px;
        font-weight: 500;
    }

    .bottom-container .loading-text{
        font-size: 15px;
        
    }
    .watermark{
        padding-bottom: 0px;
         /* position: fixed; 
         align-items: center;
         align-items: flex-end;
         justify-content: right;
         flex: 1;
         flex-direction: row;
         padding-right: 10px; */

    }
}

/* 4k screen size */

@media (min-width:2400px) {
    .top-container .college-text{
        font-size: 50px;
    }
    .top-container
    {
        padding: 30px;
    }

    .bottom-container .loading-icon i{
        font-size: 60px;
        margin-bottom: 30px;
    }

    .bottom-container .loading-text{
        font-size: 24px;
    }
    @media (max-width:580px)
    {
        .top-container .college-text
        {
            font-size: 6px;
        }
        top-container .image-container
        {
            width: 2rem;
        }
        .watermark
        {
            position: fixed;
        }
    }
     @media (max-width:380px) 
    {
        /* .watermark{
            position: fixed;
            align-items: center;
         align-items: flex-end;
         justify-content: right;
         flex: 1;
         flex-direction: row;
         padding-right: 10px;
        } */
        .main-container
        {
            padding-block: 00px;
        }
    } 
}